:root{
    --keyColor: #2c879c;
}

body{
    background-color: #1e1e1e;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/*---header---*/
header .head{
    width: 90%
}

header .img{
    width: 10%;
}

header .img img{
    max-width: 32px;
    display: block;
    float: right;
}

header{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

header h1{
    font-size: 32px;
    margin: 0;
}


/*---Nav---*/
.subNav{
    margin: 20px;
}

.subNav a{
    margin-right: 20px;
}

.subNav a:hover{
    color: var(--keyColor);
}

/*---Content---*/
:root{
    --contentWidth: 300px;
    --contentImgHeight: calc(3*((var(--contentWidth))/4))
}

.content{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.content article{
    margin: 10px;
    padding: 10px;
    width: var(--contentWidth);
}

.content article:hover{
    background-color: #3e3e3e;
}

.content img{
    width: 100%;
    height: var(--contentImgHeight);
    object-fit: cover;
}

.content b{
    color: var(--keyColor);
    margin: 0;
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
}

.content b:hover{
    color: white;
}

.content p{
    padding: 0;
    margin: 0;
    color: #bbb;
}