:root{
    --keyColor: #2c879c;
    --textColor: #2f2f2f;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #fefefe;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--textColor);
    font-size: large;
}

body h1{
    font-size: 32px;
}

/*---header---*/

header{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}

header a{
    text-decoration: none;
    color: var(--textColor);
}

header a:hover{
    color : var(--textColor);
}

header h1{
    margin: 0;
}

/*---Nav---*/

.headNav{
    margin-left: 20px;
}

.headNav a{
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    color: var(--textColor);
    font-weight: bold;
}

.headNav a:hover{
    color: var(--keyColor);
    text-decoration: none;
}

.subNav{
    margin-left: 20px;
}

.subNav a{
    margin-right: 20px;
    text-decoration: none;
    color: var(--textColor);
    font-weight: bold;
}

.subNav a:hover{
    color: var(--keyColor);
    text-decoration: none;
}

/*---banner---*/
.banner img{
    width:100%;
    min-height: 300px;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.banner{
    margin: 20px 0 0 0;

}


/*---Content---*/
:root{
    --contentWidth: 300px;
    --contentImgHeight: calc(3*((var(--contentWidth))/4))
}

#portfolio{
    margin-left: 20px;
}

.content{
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.content article{
    margin: 10px 10px 10px 0px;
    padding: 10px;
    width: var(--contentWidth);
}

.content article:hover{
    background-color: #dedede;
}

.content img{
    width: 100%;
    height: var(--contentImgHeight);
    object-fit: cover;
}

.content b{
    color: var(--keyColor);
    margin: 0;
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
}

.content b:hover{
    color: gray;
}

.content p{
    padding: 0;
    margin: 0;
    color: var(--textColor);
}

/*---Article page---*/
.art{
    margin-left: 20px;
}

.art img{
    max-width: 600px;
    width: 100%;
}

.art p{
    max-width: 600px;
}

/*---contact---*/
.contact{
    margin-left: 20px;
    margin-bottom: 20px;
}

.contact a{
    width: 100%;
    margin: 10px;
    text-decoration: none;
    color: var(--textColor);
}

.contact p{
    width: 100%;
    margin: 0;
    margin-bottom: -20px;
    margin-left: 10px;
    padding: 0;
    text-decoration: none;
    color: var(--textColor);
}

.contact a:hover{
    color: var(--keyColor);
}

#overmij{
    display: flex;
    flex-wrap: wrap;
}

#overmij h1{
    width: calc(100% - 20px);
    margin-left: 20px;
}

#overmij img{
    width: 250px;
    height: 350px;
    object-fit: cover;
    margin-left: 20px;
    margin-top: 20px;
}

#overmij p{
    max-width: 700px;
    margin-top: 20px;
    margin-left: 20px;
}

.art iframe{
    width: 100%;
    height: 100vw;
}

/*---screenwidth---*/

@media screen and (max-width: 700px) {
    .subNav a, .headNav a{
        width: 100%;
        padding: 10px 0px 10px 0px;
        display: block;
    }

    .headNav a{
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 0;
        padding-bottom: 0;
    }
}