:root{
    --keyColor: #2c879c;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #1e1e1e;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 20px;
}

body h1{
    font-size: 32px;
}

/*---header---*/

header{
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

header h1{
    margin: 0;
}

/*---Nav---*/

.headNav a{
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    color: white;
}

.headNav a:hover{
    color: var(--keyColor);
    text-decoration: none;
}

.subNav a{
    margin-right: 20px;
    text-decoration: none;
    color: white;
}

.subNav a:hover{
    color: var(--keyColor);
    text-decoration: none;
}

/*---banner---*/
.banner img{
    width:100%;
    margin: 0;
    padding: 0;
}

.banner{
    margin-right: 20px;
    margin-top: 20px;
}


/*---Content---*/
:root{
    --contentWidth: 300px;
    --contentImgHeight: calc(3*((var(--contentWidth))/4))
}

.content{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.content article{
    margin: 10px;
    padding: 10px;
    width: var(--contentWidth);
}

.content article:hover{
    background-color: #3e3e3e;
}

.content img{
    width: 100%;
    height: var(--contentImgHeight);
    object-fit: cover;
}

.content b{
    color: var(--keyColor);
    margin: 0;
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
}

.content b:hover{
    color: white;
}

.content p{
    padding: 0;
    margin: 0;
    color: #bbb;
}